@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-grotesk: 'Space Grotesk', sans-serif;
  --font-gentium: 'Gentium Book Plus', serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gentium Book Plus', serif;
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-brand-background text-n-1 text-base;
  }
}

.gradient-bg{
  content: "";
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    max-width: 640px;
    background-image: radial-gradient(at 27% 37%, hsla(215, 98%, 61%, 1) 0px, transparent 0%),
      radial-gradient(at 97% 21%, hsla(31, 94%, 61%, 1) 0px, transparent 50%),
      radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
      radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
      radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
      radial-gradient(at 33% 50%, hsla(276, 84%, 45%, 1) 0px, transparent 50%),
      radial-gradient(at 79% 53%, hsla(329, 91%, 78%, 1) 0px, transparent 50%);
    filter: blur(100px) saturate(150%);
    opacity: 0.15;
}

