@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gentium Book Plus', serif;
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-brand-background text-n-1 text-base;
  }
}
